<footer id="footer" ng-show="todos.length" ng-cloak>
					<span id="todo-count"><strong>{{remainingCount}}</strong>
						<ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
					</span>
    <ul id="filters">
        <li>
            <a ng-class="{selected: status == ''} " href="#/">All</a>
        </li>
        <li>
            <a ng-class="{selected: status == 'active'}" href="#/active">Active</a>
        </li>
        <li>
            <a ng-class="{selected: status == 'completed'}" href="#/completed">Completed</a>
        </li>
    </ul>
    <button id="clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount">Clear completed ({{completedCount}})</button>
</footer>